 
<input type="text" [(ngModel)]="newspeaker.fullname" placeholder="fullname" />
<input type="text" [(ngModel)]="newspeaker.password" placeholder="password" />
<input type="text" [(ngModel)]="newspeaker.email" placeholder="email" />
<input type="text" [(ngModel)]="newspeaker.address" placeholder="address" />
<input type="text" [(ngModel)]="newspeaker.role" placeholder="role" />
<input type="text" [(ngModel)]="newspeaker.image" placeholder="image" />
<button (click)="save()">save</button>
<!-- 
<select [(ngModel)]="speaker.address">
  <option>Alex</option>
  <option>Mansoura</option>
  <option>Smart</option>
</select>
-->
