<input type="text" [(ngModel)]="speaker.fullname">
<input type="text" [(ngModel)]="speaker.email">
<input type="text" [(ngModel)]="speaker.address">
<input type="text" [(ngModel)]="speaker.role">
<input type="text" [(ngModel)]="speaker.image">
<input type="text" [(ngModel)]="speaker.password">
<button (click)="save()">save</button>

<!-- 
   
       
<button class="btn btn-primary" (click)="update()" *ngIf="!item.check">Edit</button>
<button class="btn btn-primary" (click)="item.check=!item.check" *ngIf="item.check">Save</button>    



 -->
